:root[data-theme='light'] {
	--text: rgb(3, 33, 26);
	--text02: rgba(3, 33, 26, 0.2);
	--background: rgb(248, 254, 253);
	--primary: rgb(0, 188, 143);
	--primary03: rgba(0, 188, 143, 0.3);
	--primary05: rgba(0, 188, 143, 0.5);
	--secondary: rgb(144, 121, 243);
	--accent: rgb(170, 76, 239);
	--accent07: rgb(170, 76, 239, 0.7);
	--accentLight: rgba(191, 142, 226, 0.7);
}
:root[data-theme='dark'] {
	--text: rgb(222, 252, 245);
	--text02: rgba(222, 252, 245, 0.2);
	--background: rgb(1, 9, 8);
	--primary: rgb(66, 255, 211);
	--primary03: rgba(66, 255, 211, 0.3);
	--primary05: rgba(66, 255, 211, 0.5);
	--secondary: rgb(35, 12, 136);
	--accent: rgb(110, 16, 178);
	--accent07: rgb(110, 16, 178, 0.7);
	--accentLight: rgba(130, 64, 178, 0.7);
}

* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Salsa:700|Salsa:400');

body {
	font-family: 'Salsa';
	font-weight: 400;
	background-color: var(--background);
	color: var(--text);
	margin: 0;
}

#emojis {
	position: absolute;
	inset: 40px;
	z-index: -1;
}

.emoji {
	position: absolute;
	font-size: 32px; /* Adjust size as needed */
	filter: drop-shadow(4px 4px 8px var(--text));
}

header {
	margin: 16px calc((100vw - 1000px) / 2);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.d-none {
	display: none !important;
}

.inputSection {
	display: flex;
	margin: 0 calc((100vw - 1000px) / 2);
	justify-content: space-between;
	align-items: center;
}

.buttonContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding: 5px;
	width: 380px;
	background-color: var(--primary03);
}

.genreButton {
	font-family: 'Salsa';
	font-weight: 600;
	font-size: 24px;
	padding: 4px;
	width: 120px;
	height: 70px;
	color: var(--text);
	background: var(--primary05);
	backdrop-filter: blur(9.1px);
	-webkit-backdrop-filter: blur(9.1px);
	border: none;
	transition: all 0.3s;
}

.genreButton:hover {
	cursor: pointer;
	background: var(--primary03);
	box-shadow: 0 6px 30px var(--text02);
}

.genreButton:active {
	background: var(--accent);
}

.genreButton:disabled {
	cursor: not-allowed !important;
	background: lightgray !important;
	color: gray;
}

.selectedGenre {
	background-color: var(--accent) !important;
}

.imgContainer {
	width: 230px;
	height: 230px;
	position: relative;
}

#uploadedImage {
	position: absolute;
	inset: 0;
	width: 230px;
	height: 230px;
}

#uploadImageText {
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 8px;
	font-weight: 600;
	font-size: 20px;
	width: 80%;
	color: var(--secondary);
}

.uploadIcon {
	font-variation-settings: 'wght' 600;
	font-size: 48px !important;
}

#uploadImageBtn {
	position: absolute;
	top: 165px;
	left: 50%;
	transform: translate(-50%, 0);
	color: var(--text);
	background: var(--primary05);
	backdrop-filter: blur(9.1px);
	-webkit-backdrop-filter: blur(9.1px);
	border: none;
	font-family: 'Salsa';
	font-weight: 600;
	font-size: 16px;
	padding: 8px;
	transition: all 0.3s;
}

#uploadImageBtn:hover {
	cursor: pointer;
	background: var(--primary03);
	box-shadow: 0 6px 30px var(--text02);
}

#uploadImageBtn:active {
	background: var(--accent);
}

#deleteImage {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	opacity: 0.7;
	background-color: var(--primary);
	transition: all 0.3s;
}

#deleteImage:hover {
	cursor: pointer;
	opacity: 1;
}

#deleteImage:active {
	background: var(--accent);
}

.deleteIcon {
	font-variation-settings: 'wght' 600;
	font-size: 32px !important;
}

.drop-area {
	position: absolute;
	inset: 0;
	border: 4px dashed var(--secondary);
}

.file-elem {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

.outputSection {
	margin: 32px 0 0 calc(((100vw - 1000px) / 2) + 385px);
	width: 380px;
	padding: 16px 32px;
	display: flex;
	gap: 8px;
	flex-direction: column;
	align-items: center;
	background-color: var(--accentLight);
	font-size: 20px;
}

#uploadInfo {
	text-align: center;
}

#generateText {
	font-family: 'Salsa';
	font-weight: 600;
	font-size: 24px;
	padding: 8px;
	color: var(--text);
	background: var(--accent);
	border: none;
	transition: all 0.3s;
}

#generateText:disabled {
	cursor: not-allowed !important;
	background: lightgray !important;
	color: gray;
}

#generateText:hover {
	cursor: pointer;
	background: var(--secondary);
}

#generateText:active {
	background: var(--accentLight);
}

#reset {
	font-family: 'Salsa';
	font-weight: 600;
	font-size: 24px;
	padding: 8px;
	color: var(--text);
	background: var(--accent);
	border: none;
	transition: all 0.3s;
}

#reset:hover {
	cursor: pointer;
	background: var(--secondary);
}

#reset:active {
	background: var(--accentLight);
}

#modelResponse {
	background-color: var(--accent07);
	padding: 8px;
	max-height: 240px;
	overflow-y: scroll;
}

.loadingStep {
	display: flex;
	align-items: center;
	gap: 8px;
}

.step1Icon {
	animation: step1Movement 4s linear infinite;
}

@keyframes step1Movement {
	0% {
		transform: translate(-6px, -6px);
	}
	25% {
		transform: translate(6px, 6px);
	}
	50% {
		transform: translate(6px, -6px);
	}
	75% {
		transform: translate(-6px, 6px);
	}
	100% {
		transform: translate(-6px, -6px);
	}
}

.step2Icon {
	animation: step2Movement 2s ease-in-out infinite;
	transform-origin: bottom center;
}

@keyframes step2Movement {
	0%,
	100% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
}

.step3Icon {
	animation: step3Movement 4s linear infinite;
}

@keyframes step3Movement {
	0% {
		transform: translate(-6px, -6px);
	}
	17% {
		transform: translate(6px, -6px);
	}
	33% {
		transform: translate(-6px, -3px);
	}
	50% {
		transform: translate(6px, -3px);
	}
	67% {
		transform: translate(-6px, 0);
	}
	83% {
		transform: translate(6px, 0);
	}
	100% {
		transform: translate(-6px, -6px);
	}
}

.loader-container {
	display: flex;
	width: 46px;
	height: 46px;
	flex-wrap: wrap;
	gap: 2px;
	padding: 2px;
	background-color: var(--accent);
}

.square {
	width: 20px;
	height: 20px;
	background-color: var(--accent); /* White squares */
	animation: changeColor 2s infinite linear;
}

/* Animation Keyframes */
@keyframes changeColor {
	0%,
	100% {
		background-color: var(--accentLight);
	}
	25% {
		background-color: var(--accent);
	}
	50% {
		background-color: var(--accentLight);
	}
	75% {
		background-color: var(--accentLight);
	}
}

/* Apply different animation delays to each square */
.loader-container .square:nth-child(2) {
	animation-delay: 0.5s;
}

.loader-container .square:nth-child(4) {
	animation-delay: 1s;
}

.loader-container .square:nth-child(3) {
	animation-delay: 1.5s;
}

#broccoliBob {
	position: absolute;
	top: 420px;
	transform-origin: center center;
	transform: rotate(30deg) translateX(-120px);
	display: flex;
	transition: opacity 3s ease-out;
	/* Removed the transition property because we will use animations */
}

.byeBob {
	opacity: 0;
}

#bobThinking {
	position: absolute;
	width: 40px;
	left: 80px;
	top: 32px;
}

/* Define a keyframe for moving Bob horizontally */
@keyframes moveBob {
	from {
		transform: translateX(-120px) rotate(30deg);
	}
	to {
		transform: translateX(0) rotate(30deg);
	}
}

@keyframes rotateBob {
	from {
		transform: rotate(30deg);
	}
	to {
		transform: rotate(0);
	}
}

.showBob {
	animation: moveBob 1.5s forwards, rotateBob 1.5s 1.5s forwards; /* Start after moveBob finishes */
}

#interactionBob {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
}

.chatBob {
	width: 240px;
	padding: 4px;
	max-height: 400px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.messageBob {
	background-color: var(--primary03);
	padding: 4px;
}

.messageUser {
	background-color: var(--accentLight);
	padding: 4px;
}

.btnBob {
	font-family: 'Salsa';
	font-size: 18px;
	border: 2px solid var(--text);
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 4px;
	color: var(--text);
	background-color: transparent;
}

.btnBob:hover {
	cursor: pointer;
	box-shadow: 0px 4px 12px 4px var(--text02);
}

.imgBroccoliBob {
	width: 200px;
	height: 200px;
}

.imgBroccoliBob:hover {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--accentLight);
	border: 3px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary03);
}

.sr-only {
	position: absolute;
	left: -9999px;
	opacity: 0;
}

.toggle {
	font-size: 1rem;
	border: 0.125em solid currentColor;
	cursor: pointer;
	display: block;
	height: 2em;
	position: relative;
	width: 3.75em;
	box-sizing: unset;
}
.toggle span {
	background-color: currentColor;
	display: block;
	height: 1.5em;
	left: 0.25em;
	overflow: hidden;
	position: absolute;
	top: 0.25em;
	text-indent: -9999px;
	transition: left 0.25s;
	width: 1.5em;
	z-index: 2;
}

.toggle::before,
.toggle::after {
	content: '';
	display: block;
	border-radius: 1em;
	position: absolute;
	z-index: 1;
}

.toggle::after {
	box-shadow: 0.25em 0.25em #5901d8;
	height: 1.125em;
	right: 0.9em;
	top: 0.125em;
	width: 1.125em;
}

.toggle::before {
	background-color: #ffc409;
	height: 0.625em;
	outline: 0.25em dotted #ffc409;
	outline-offset: 0.125em;
	left: 0.7em;
	top: 0.7em;
	width: 0.625em;
}

input:checked ~ .toggle span {
	left: 2em;
}

@media screen and (max-width: 1200px) {
	header {
		margin: 16px calc((100vw - 650px) / 2);
	}

	.inputSection {
		margin: 0 calc((100vw - 650px) / 2);
	}

	.outputSection {
		margin: 32px 0 0 calc(((100vw / 2) - 190px));
	}

	#broccoliBob {
		position: relative;
		top: unset;
		margin-top: 32px;
		transform-origin: bottom left;
	}
}

@media screen and (max-width: 800px) {
	header {
		margin: 16px 32px;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	h1 {
		margin-block: unset;
	}

	.inputSection {
		flex-direction: column;
		align-items: flex-start;
		margin: 0 32px;
		gap: 8px;
	}

	.outputSection {
		margin: 16px 32px;
	}
}

@media screen and (max-width: 500px) {
	header {
		margin: 16px 16px;
	}

	h1 {
		font-size: 24px;
	}

	.toggle {
		font-size: 0.8rem;
	}

	.inputSection {
		margin: 0 16px;
	}

	.buttonContainer {
		gap: 3px;
		padding: 3px;
		width: 288px;
	}

	.genreButton {
		width: 92px;
		height: 54px;
		font-size: 20px;
	}

	.imgContainer {
		width: 200px;
		height: 200px;
	}

	#uploadImageText {
		font-size: 16px;
		top: 24px;
	}

	#uploadImageBtn {
		top: 140px;
		white-space: nowrap;
	}

	.emoji {
		font-size: 24px;
	}

	.outputSection {
		margin: 16px 16px;
		padding: 8px 8px;
		width: 288px;
	}

	.imgBroccoliBob {
		width: 150px;
		height: 150px;
	}

	#interactionBob {
		margin-left: -48px;
	}

	.chatBob {
		width: 200px;
	}
}
